body {
  width: 100vw;
  font-family: "Lato", sans-serif;
}
header {
  position: relative;
  height: 660px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 240px;
  text-align: center;
  line-height: 80%;
  overflow: hidden;
}
header .title {
  margin-top: 64px;
  color: #fff;
  letter-spacing: -0.1rem;
}
header .title .days {
  letter-spacing: 0.2rem;
}
header .circle {
  z-index: -1;
  position: absolute;
  top: -600px;
  left: -50vw;
  width: 200%;
  height: 1200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #1a1a1a;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.5);
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 360px;
  padding: 128px;
  position: relative;
  left: -100px;
  border-radius: 100%;
  color: #fff;
  background-color: #ff3f77;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.2);
}
.section .circle .title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 16px;
}
.section .circle .description {
  font-size: 24px;
  font-weight: 400;
}
.section .mobile {
  margin-top: -200px;
  margin-left: -80px;
  width: 600px;
}
footer {
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #969696;
}
footer a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #ff3f77;
}
footer .container {
  max-width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 32px;
}
@media only screen and (max-width: 1024px) {
  footer .container {
    align-items: center;
  }
}
