body {
	font-family: "Lato", sans-serif;
}

footer {
	height: 80px;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #000;
	color: #969696;
}

footer a {
	font-weight: 700;
	color: #fff;
}

footer a:hover {
	color: #ff3f77;
}

footer .container {
	max-width: unset;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	margin: 0 32px;
}
