@mobile: 768px;
@wide: 1212px;

@black: #000;
@dark: #1a1a1a;
@gray: #969696;
@white: #fff;
@crimson: #ff3f77;
@grass: #86b85c;
@mustard: #f2b12a;

body {
	width: 100vw;
	font-family: "Lato", sans-serif;
}

header {
	@size: 1200px;

	position: relative;
	height: @size * 0.55; // 0.5 for half the circle and some more for the shadow
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: 240px;
	text-align: center;
	line-height: 80%;
	overflow: hidden;

	.title {
		margin-top: 64px;
		color: @white;
		letter-spacing: -0.1rem;

		.days {
			letter-spacing: 0.2rem;
		}
	}

	.circle {
		z-index: -1;
		position: absolute;
		top: -(@size / 2);
		left: -50vw;
		width: 200%;
		height: @size;
		border-radius: 100%;
		overflow: hidden;

		background-color: @dark;
		box-shadow: 0 2px 32px fade(@black, 50%);
	}

	@media only screen and (max-width: @mobile) {
		@size: 160vw;

		font-size: 30vw;
		height: @size * 0.55;

		.circle {
			top: -(@size / 2);
			height: @size;
		}
	}
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	width: 100vw;

	&.first {
		margin-top: -200px;
	}

	.circle {
		@size: 560px;
		@left: 100px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;

		width: @size;
		min-width: @size;
		height: @size;

		position: relative;
		margin-top: 50px;
		border-radius: 100%;

		color: @white;
		box-shadow: 0 2px 32px fade(@black, 20%);

		&.left {
			text-align: left;
			left: -@left;
			margin-right: -@left; // Compensates left position
		}

		&.right {
			text-align: right;
			right: -@left;
			margin-left: -@left; // Compensates right position
		}

		.title {
			width: 50%;
			font-size: 60px;
			font-weight: 900;
			margin-bottom: 16px;
		}

		.description {
			width: 50%;
			font-size: 24px;
			font-weight: 400;
		}
	}

	.description-mobile {
		display: none;
	}

	@media only screen and (max-width: @mobile) {
		flex-direction: column;
		align-items: center;
		margin: 20px 0;

		&.first {
			margin: 0;
		}

		&.rtl {
			flex-direction: column-reverse;
		}

		.circle {
			position: unset;
			min-width: unset;

			width: 90vw;
			height: 90vw;

			&.left,
			&.right {
				margin: 0;
			}

			.title {
				text-align: center;
				width: 80%;
				font-size: 12vw;
			}

			.description {
				display: none;
			}
		}

		.description-mobile {
			display: block;
			margin: 32px;
			font-size: 24px;
			font-weight: 300;
			color: fade(@black, 50%);
			text-align: center;
		}

		.mobile,
		.ingredients,
		.calendar {
			margin: 0px;
			width: 90vw;
		}
	}

	@media (min-width: @wide) {
		.title,
		.description {
			text-align: center;
		}
	}
}

.download {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	margin-top: 120px;

	p {
		font-size: 60px;
		font-weight: 700;
		max-width: 500px;
		text-align: center;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 500px;
		margin-top: 40px;

		img {
			max-width: 250px;
		}

		@media only screen and (max-width: @mobile) {
			flex-direction: column;

			.apple {
				max-width: 280px;
			}
		}
	}
}

.logo {
	width: 100%;
	margin-bottom: -2px;
	margin-top: 60px;
}

footer {
	height: 80px;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: @black;
	color: @gray;

	a {
		font-weight: 700;
		color: @white;
		text-decoration: none;

		&:hover {
			color: @crimson;
		}
	}

	.container {
		max-width: unset;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		margin: 0 32px;

		@media only screen and (max-width: @mobile) {
			align-items: center;
		}
	}
}

.crimson-bg {
	background-color: @crimson;
}

.grass-bg {
	background-color: @grass;
}

.mustard-bg {
	background-color: @mustard;
}

.mobile {
	max-width: 550px;
	max-height: 859px;
	width: 50%;
	height: auto;
}

.ingredients {
	max-width: 482px;
	max-height: 826px;
	width: 40%;
	height: auto;
	margin-right: 50px;
}

.calendar {
	max-width: 482px;
	max-height: 629px;
	width: 40%;
	height: auto;
	align-self: center;
}
